.fadeIn {
  display: block;
  animation: fade-in 1s ease;
  // color: blue !important;
}

.fadeOut {
  display: none;
  animation: fade-out 1s ease;
  // color: violet !important;
}

.navbar-transition {
  transition: all 0.5s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}