// Button primary
.btn-primary {
  background-color: $primary-color !important;
  border-color: $primary-color !important;
}

.btn-primary:hover {
  background-color: $primary-color-dark !important;
  border-color: $primary-color !important;
}

.btn-primary:active {
  background-color: $primary-color-light !important;
  border-color: $primary-color-light !important;
}

// Button secondary
.btn-secondary {
  background-color: $secondary-color-light !important;
  border-color: $secondary-color-light !important;
}

.btn-secondary:hover {
  background-color: $secondary-color-dark !important;
  border-color: $secondary-color !important;
}

.btn-secondary:active {
  background-color: $secondary-color-light !important;
  border-color: $secondary-color-light !important;
}

// Text primary
.text-primary {
  color: $primary-color !important;
}

.text-primary-light {
  color: $primary-color-light !important;
}

a.text-primary:hover,
a.text-primary:focus {
  color: $primary-color-dark !important;
}

// Text secondary
.text-secondary {
  color: $secondary-color !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
  color: $secondary-color-dark !important;
  text-decoration: none;
}

// Background primary

.bg-primary {
  background-color: $primary-color !important;
}

//Custom checkbox

.custom-control-input:focus~.custom-control-label::before {
  border-color: $primary-color !important;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.custom-control-input:checked~.custom-control-label::before {
  border-color: $primary-color !important;
  background-color: $primary-color !important;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: $primary-color-light !important;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: #d6f5dd !important;
  border-color: #d6f5dd !important;
}

// Custom radio
.custom-radio,
.custom-control-label {
  cursor: pointer;
}