
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  
  .carousel-image {
    height: 450px;
  }

  #website-logo {
    height: 3.25rem;
  }

  .fa-question-circle {
    margin-left: 1rem;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .carousel-image {
    height: 500px;
  }
  
  .fa-question-circle {
    margin-left: 3rem;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .carousel-image {
    height: 600px;
  }

  // Why this doesn't work unless I set it to important
  .sidebar-section {
    position: absolute !important;
    // border: 10px solid yellow;
  }

  .sidebar-item {
    position: absolute !important;
  }

  #website-logo {
    height: 4.25rem;
  }
  
  .fa-question-circle {
    margin-left: 1rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}