// Colors
$primary-color: #7aba4e;
$primary-color-dark: darken($primary-color, 12.5%);
$primary-color-light: lighten($primary-color, 12.5%);

$secondary-color:#ba4e79;
$secondary-color-dark: darken($secondary-color, 12.5%);
$secondary-color-light: lighten($secondary-color, 5.5%);

$light-color: #ffffff;
$light-gray-color: #fafafa;
$gray-color: #eaeaea;
$dark-gray-color: #414141;
$dark-color: #111111;
