// Colors
$primary-color: #60c049;
$primary-color-dark: darken($primary-color, 12.5%);
$primary-color-light: lighten($primary-color, 12.5%);

$secondary-color:#ba4e79;
$secondary-color-dark: darken($secondary-color, 12.5%);
$secondary-color-light: lighten($secondary-color, 5.5%);

$light-color: #ffffff;
$light-gray-color: #fafafa;
$gray-color: #eaeaea;
$dark-gray-color: #414141;
$dark-color: #111111;

// Fonts

$title-font: 'PT Sans Caption', sans-serif;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Segoe UI', 'Helvetica Neue', Arial;