/* 
======================================================
00. Global variables & Utility classes
01. Body
  02. Header
    02.a Nav
  03. Main
    03.a Hero
    03.b About
    03.c Menu
    03.d Gallery
    03.e News
    03.f Reviews
    03.g Reservation
    03.h Contact
    03.i Jumbotron
    03.j Orders
      03.j.a Items
      03.j.b Sidebar
  04. Footer
05. Imports 
====================================================== 
*/

/* #    00. Global variables & Utility classes    # */
// @import "test";
@import "variables";
@import "custom";
@import "animations";

html {
  scroll-behavior: smooth;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 300)));
  height: 100%;
  overflow-y: scroll;
}

.btn {
  width: max-content;
}

.text-shadow {
  text-shadow: 1px 1px 5px black;
}

h1, .title-font {
  font-family: $title-font;
  font-weight: 700;
}

.underline-primary {
  text-decoration: underline $primary-color 2px;
  text-underline-position: under;
}

.sidebar-section {
  position: unset;
  height: 100%;
  width: 100%;
}

// Change name
.icon {
  margin-left: 2rem;
}

.imagecover {
  object-fit: cover;
}

.price {
  font-size: 1.5rem;
  text-decoration: dotted underline $primary-color 2px;
  text-underline-position: under;
}

.text-muted {
  font-size: 0.9rem;
}



/* #    01. Body    # */
body {
  min-height: 100%; 
  position: relative;
  font-family: $primary-font;
  font-weight: 300;
  padding-bottom: 5rem;
}


/* #    02. Header    # */
/* ##    02.a Nav    ## */
#navbar {
  height: auto !important;
}

#website-logo {
  height: 3rem;
}

.navbar-brand {
  font-size: 1.5rem;
}



/* #    03. Main    # */

/* ##    03.a Hero    ## */
#hero {
  background-image: url("/img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
}

.hero-heading {
  font-size: 3.5rem;
}

.hero-sub-heading {
  font-size: 1.25rem;
  font-family: $secondary-font;
}

main u.underline-primary {
  text-decoration-style: double;
  text-underline-position: unset;
}


/* ##    03.d Gallery    ## */
.carousel-image {
  height: 400px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;

  &-icon {
    height: 50px;
    width: 50px;
  }
}

.gradientbackground {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.695098107602416) 12%,
    rgba(255, 255, 255, 0) 100%
  );
}


/* ##    03.f Reviews    ## */
.profile-pic {
  width: 100px;
  height: 100px;
}


/* ##    03.g Reservation    ## */
#reservation .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ##    03.h Contact    ## */
#map.col-12 {
  height: 500px;
  width: 50vw;
}


/* ##    03.i Jumbotron    ## */
.jumbotron {
  height: 10rem;
}



/* ##    03.j Orders    ## */


/* ##    03.j.a Items    ## */
.panel-header {
  cursor: pointer;

  &-item {
    text-align: center;
    min-width: 2.5rem;
    min-height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.form-total-items {
  min-width: 75px;
  max-width: 75px;
}

.cc-cvc {
  display: flex;
  justify-content: space-between;
}

.popover {
  max-width: 15rem !important;
}

.fa-question-circle:hover {
  color: $primary-color;
}


/* ##    03.j.b Sidebar    ## */
.sidebar-item {
  position: unset;
	top: 0;
	left: 0;
	width: 100%;
  height: 100%;
}

.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
  padding: 0 15px;
}




/* #    04. Footer    # */
#footer { 
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height: 5rem;
}

// Media queries always have to be at the end of style sheet
@import "mediaqueries";