html {
  scroll-behavior: smooth;
}

.section {
  background: gray;
  height: 100vh;
  border: 1px solid cyan;
}

#hero {
  background-image: url('/img/hero-bg.jpg');
  background-position: center;
  background-size: cover;
}

#about {
  height: 100%;
}

#menu {
  height: 100%;
}

// * {
//   border: 1px solid red !important;
//   background: black !important;
// }

.imagecover {
  object-fit: cover;
}

.fadeIn {
  animation: fade-in 1s;
  display: block;
  color: green !important;
}

.fadeOut {
  animation: fade-out 1s;
  display: none;
  color: red !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}