html {
  scroll-behavior: smooth;
  font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 300)));
}

.btn {
  width: max-content;
}

.hero-heading {
  font-size: 4rem;
}

.hero-sub-heading {
  font-size: 2rem;
}

.section {
  // background: gray;
  height: 100%;
  // border: 1px solid cyan;
}

.text-shadow {
  text-shadow: 1px 1px 5px black;
}

#hero {
  background-image: url("/img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
}

#reservation .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact {
  height: 100%;
}

#map.col-12 {
  height: 500px;
  width: 50vw;
  background: rgba(0, 128, 0, 0.568);
}

.col-2,
.col-5 {
  border: 1px solid red;
}

.icon {
  margin-right: 2rem;
}

.imagecover {
  object-fit: cover;
}

.carousel-image {
  height: 600px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;

  &-icon {
    height: 50px;
    width: 50px;
  }
}

.gradientbackground {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.695098107602416) 12%,
    rgba(255, 255, 255, 0) 100%
  );
}

.custom-control-input {
  color: red;
}

@import "mediaqueries";
@import "animations";
@import "checkbox";