
// Fade in and Fade out animations
.fadeIn {
  display: block;
  animation: fade-in 1s ease;
}

@keyframes fade-in {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: block;
  }
}

// Navbar transition animation
.navbar-transition {
  transition: all 0.5s ease;
}
