// Modify the default map
$theme-colors: (
  // "primary": #60c049,
  "primary": #7aba4e,
  "secondary": #ba4e79,
  "success": #72d677,
  "info": #00aedb,
  "warning": #ffc785,
  "danger": #df7575,
  "purple": #b19cd9,
  "light": #fff,
  "dark": #222
);

// Create your own map
$custom-colors: (
  "light-gray": #f1f1f1,
  "gray": #eaeaea,
  "dark-gray": #414141
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


// Modify bootstrap button  class
.btn {
  border-radius: 0!important;
}

// Modify bootstrap card text class
.card-text {
  padding: 0;
  margin: 0;
}

// Modify active navbar item style
.active {
  text-decoration: underline $primary-color 1px;
  text-underline-offset: 15%;
}

.fa-question-circle {
  color: $primary-color !important;
}

.form-check-input {
  background-color: $secondary-color !important;
}