// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #website-logo {
    height: 3.25rem;
  }

  .carousel-image {
    height: 450px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .carousel-image {
    height: 500px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #website-logo {
    height: 4.25rem;
  }

  .carousel-image {
    height: 600px;
  }

  .sidebar-section {
    position: absolute !important;
  }

  .sidebar-item {
    position: absolute !important;
  }
}